<div class="container w-100 text-center pt-4">
  <ngb-carousel *ngIf="slides" showNavigationArrows="true">
    <ng-template ngbSlide *ngFor="let slide of slides; let i = index">
      <div class="wrapper">
        <img
          [src]="slide.imgUrl"
          [alt]="i"
          class="img-fluid"
          (error)="removeSlide(i)"
        />
      </div>
      <div class="carousel-caption pt-4">
        <div class="text-left pl-4 w-50">
          <h3>{{ slide.title }}</h3>
          <h5>{{ slide.description }}</h5>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
